// Logo font

$mainFont: 'PT Serif';
$logoFont: 'quite_chocolateyregular';
$titleFont: 'Montserrat';
$mainTitleFont: 'couturebold';

// colors

$title__text_red: #d03958;
$title__text_black: #161616;
$main__text_white: #ffffff;
$stage__title_text: #1f1f1f;
$form__text_color: #b5b5b5;

// font size

$logo__size: 8.8rem;
$header__title_size: 9rem;
$main__title_size: 5rem;
$main__text_size: 2rem;