.feature {
  width: 17rem;
  // border: 1px solid #e3d5b8;
  display: flex;
  flex-direction: column;
  align-items: center;

  .image {
    @extend %images;
    &-1 {
      background-image: url(../images/shape-108.svg);
    }
    &-2 {
      background-image: url(../images/shape-127.svg);
    }
    &-3 {
      background-image: url(../images/shape-106.svg);
    }
    &-4 {
      background-image: url(../images/shape-97.svg);
    }
  }

  .description {
    @include article__text(1.9rem, $title__text_black);
    text-align: center;
  }
}
